<section
  class='color-{{ section.settings.color_scheme }} twcss-bg-brand-light-blue'
  style='background-image: url("{{ section.settings.bg_image | image_url }}");'
>
  <div
    class='lg:twcss-px-100 md:twcss-px-50'
    style='max-width:1200px; margin-left: auto; margin-right: auto;'
  >
    <div
      class='twcss-px-6 twcss-py-10 lg:twcss-container lg:twcss-max-w-screen-xlg lg:twcss-pt-[--padding-top] lg:twcss-pb-[--padding-bottom]'
      style='--padding-top: {{ section.settings.padding_top | round: 0 }}px; --padding-bottom: {{ section.settings.padding_bottom | round: 0 }}px;'
    >
      <div class='twcss-grid twcss-grid-cols-12 twcss-gap-4'>
        <div class='twcss-col-span-12 lg:twcss-col-span-3'>
          {%- if section.settings.title != blank -%}
            <h2
              class='twcss-font-bold twcss-text-6xl twcss-text-secondary-grey-1 '
              style='line-height: 40px;'
            >
              {{ section.settings.title }}
            </h2>
          {%- endif -%}

          {%- for block in section.blocks -%}
            <div class='twcss-grid twcss-grid-cols-1 twcss-justify-start twcss-gap-y-3.5 twcss-mt-6 lg:twcss-gap-y-6 lg:twcss-mt-[72px]'>
              {%- if block.settings.name != blank -%}
                <button
                  class='twcss-font-medium twcss-text-left aria-selected:twcss-text-brand-cta-blue lg:twcss-text-lg'
                  role='tab'
                  id='tab-1-trigger'
                  aria-selected='false'
                  aria-controls='tab-1-content'
                >
                  {{ block.settings.name }}
                </button>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>

        <div class='twcss-col-span-12 lg:twcss-col-span-9'>
          {%- for block in section.blocks -%}
            <div
              id='tab-2-content'
              role='tabpanel'
              tabindex='-1'
              aria-hidden='false'
              aria-labelledby='tab-2-trigger'
              class='twcss-grid twcss-gap-4 aria-hidden:twcss-hidden'
            >
              <details class='twcss-group/details twcss-bg-brand-grey twcss-p-5 twcss-rounded-2xl lg:twcss-p-10 lg:twcss-rounded-3xl'>
                <summary
                  id='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                  class='twcss-flex twcss-gap-4 twcss-items-center twcss-justify-between'
                >
                  {%- if block.settings.titleuno != blank -%}
                    <h4 class='twcss-text-[22px]/7 twcss-flex-1 twcss-line-clamp-1 [&amp;>span]:twcss-text-brand-cta-blue lg:twcss-text-2xl'>
                      {{ block.settings.titleuno }}
                    </h4>
                    <p>{{ block.settings.id }}</p>
                  {%- endif -%}

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    aria-hidden='true'
                    focusable='false'
                    class='icon icon-plus twcss-w-6 twcss-h-6 group-open/details:twcss-hidden'
                    fill='none'
                    viewBox='0 0 10 10'
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
                    </path>
                  </svg>

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    aria-hidden='true'
                    focusable='false'
                    class='icon icon-minus twcss-w-6 twcss-h-6 twcss-hidden group-open/details:twcss-block'
                    fill='none'
                    viewBox='0 0 10 2'
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                    </path>
                  </svg>
                </summary>

                <div
                  id='CollapsibleAccordion-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                  role='region'
                  aria-labelledby='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                  class='twcss-mt-5 twcss-text-secondary-grey-2 twcss-text-lg [&amp;_a]:twcss-text-brand-cta-blue [&amp;_a]:twcss-underline lg:twcss-mt-6'
                >
                  {%- if block.settings.contentuno != blank -%}
                    <p>{{ block.settings.contentuno }}</p>
                  {%- endif -%}
                </div>
              </details>
            </div>
            <div
              id='tab-2-content'
              role='tabpanel'
              tabindex='-1'
              aria-hidden='false'
              aria-labelledby='tab-2-trigger'
              class='twcss-grid twcss-gap-4 aria-hidden:twcss-hidden'
            >
              <details class='twcss-group/details twcss-bg-brand-grey twcss-p-5 twcss-rounded-2xl lg:twcss-p-10 lg:twcss-rounded-3xl'>
                <summary
                  id='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                  class='twcss-flex twcss-gap-4 twcss-items-center twcss-justify-between'
                >
                  {%- if block.settings.titledos != blank -%}
                    <h4 class='twcss-text-[22px]/7 twcss-flex-1 twcss-line-clamp-1 [&amp;>span]:twcss-text-brand-cta-blue lg:twcss-text-2xl'>
                      {{ block.settings.titledos }}
                    </h4>
                  {%- endif -%}

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    aria-hidden='true'
                    focusable='false'
                    class='icon icon-plus twcss-w-6 twcss-h-6 group-open/details:twcss-hidden'
                    fill='none'
                    viewBox='0 0 10 10'
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
                    </path>
                  </svg>

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    aria-hidden='true'
                    focusable='false'
                    class='icon icon-minus twcss-w-6 twcss-h-6 twcss-hidden group-open/details:twcss-block'
                    fill='none'
                    viewBox='0 0 10 2'
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                    </path>
                  </svg>
                </summary>

                <div
                  id='CollapsibleAccordion-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                  role='region'
                  aria-labelledby='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                  class='twcss-mt-5 twcss-text-secondary-grey-2 twcss-text-lg [&amp;_a]:twcss-text-brand-cta-blue [&amp;_a]:twcss-underline lg:twcss-mt-6'
                >
                  {%- if block.settings.contentdos != blank -%}
                    <p>{{ block.settings.contentdos }}</p>
                  {%- endif -%}
                </div>
              </details>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQs",
  "max_blocks": 4,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "background_color_card",
      "label": "Background Color Card",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "What our customers say"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "FAQs",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "titleuno",
          "label": "Title 1"
        },
        {
          "type": "richtext",
          "id": "contentuno",
          "label": "Description 1"
        },
        {
          "type": "text",
          "id": "titledos",
          "label": "Title 2"
        },
        {
          "type": "richtext",
          "id": "contentdos",
          "label": "Description 2"
        },
        {
          "type": "text",
          "id": "titletres",
          "label": "Title 3"
        },
        {
          "type": "richtext",
          "id": "contenttres",
          "label": "Description 3"
        },
        {
          "type": "text",
          "id": "titlecuatro",
          "label": "Title 4"
        },
        {
          "type": "richtext",
          "id": "contentcuatro",
          "label": "Description 4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}
