<section
  class='color-{{ section.settings.color_scheme }} twcss-bg-brand-light-blue'
  style='background-image: url("{{ section.settings.bg_image | image_url }}");'
>
  <div
    class='lg:twcss-px-100 md:twcss-px-50'
    style='max-width:1200px; margin-left: auto; margin-right: auto;'
  >
    <div
      class='twcss-px-8 twcss-py-10 lg:twcss-container lg:twcss-max-w-screen-xlg lg:twcss-pt-[--padding-top] lg:twcss-pb-[--padding-bottom]'
      style='--padding-top: {{ section.settings.padding_top | round: 0 }}px; --padding-bottom: {{ section.settings.padding_bottom | round: 0 }}px;'
    >
      <div class='twcss-grid twcss-grid-cols-12 twcss-gap-4'>
        <div class='twcss-col-span-12 lg:twcss-col-span-12'>
          {%- if section.settings.title != blank -%}
            <h2
              class='twcss-font-bold lg:twcss-text-6xl twcss-text-5xl twcss-text-secondary-grey-1'
              style='line-height: 40px;'
            >
              {{ section.settings.title }}
            </h2>
          {%- endif -%}
        </div>
        <div class='twcss-col-span-12 lg:twcss-col-span-4 lg:twcss-mt-[15px]'>
          {%- for block in section.blocks -%}
            <div class='twcss-font-bold twcss-grid twcss-grid-cols-1 twcss-justify-start'>
              <!-- twcss-font-bold twcss-w-full twcss-text-4xl twcss-font-medium twcss-tracking-tight -->
              {%- if block.settings.name != blank -%}
                <button
                  class='twcss-font-medium twcss-text-left lg:twcss-text-4xl twcss-text-3xl boton-pregunta twcss-py-8'
                  role='tab'
                  id='tab-1-trigger'
                  aria-selected='false'
                  aria-controls='tab-1-content'
                  data-id='{{ block.id }}'
                  data-opened='{{ forloop.first }}'
                >
                  {{ block.settings.name }}
                </button>
              {%- endif -%}
              {% if forloop.last == false %}
                <hr class='lg:twcss-hidden twcss-border-0 twcss-h-px twcss-bg-white twcss-m-0'>
              {% endif %}
            </div>
          {%- endfor -%}
        </div>

        <div class='twcss-col-span-12 lg:twcss-col-span-8 lg:twcss-mt-[25px]'>
          {%- for block in section.blocks -%}
            <div
              class='preguntas-tema'
              style='display: none;'
              data-tema='{{ block.id }}'
              id='{{ block.id }}'
            >
              <!-- block -->
              <div
                id='{{ block.id }}-1'
                role='tabpanel'
                tabindex='-1'
                aria-hidden='false'
                aria-labelledby='tab-1-trigger'
                class='pregunta twcss-grid twcss-gap-4 aria-hidden:twcss-hidden'
                data-tema='{{ block.id }}'
              >
                <details
                  class='twcss-group/details twcss-bg-grey twcss-p-8 lg:twcss-p-10 twcss-mb-5 twcss-mx-0 lg:twcss-mx-0 '

                  style='background-color: {{ section.settings.background_color_card }};'
                >
                  <summary
                    id='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                    class='twcss-flex twcss-gap-4 twcss-items-center twcss-justify-between'
                  >
                    {%- if block.settings.titleuno != blank -%}
                      <p class='twcss-font-medium lg:twcss-text-4xl twcss-text-3xl twcss-grid twcss-grid-cols-1 twcss-justify-start lg:twcss-mt-[5px] lg:twcss-mb-[5px]'>
                        <!--
                          ttwcss-text-[22px]/7 twcss-flex-1 twcss-line-clamp-1 [&amp;>span]:twcss-text-brand-cta-blue lg:twcss-text-2xl lg:twcss-mt-[25px]
                        -->
                        {{ block.settings.titleuno }}
                      </p>
                    {%- endif -%}
                    <!-- Chevrón hacia arriba -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-up twcss-w-10 twcss-h-10 group-open/details:twcss-hidden'
                    >
                      <path fill-rule="evenodd" d="M10 6.707l4.146 4.147a.5.5 0 00.708-.708l-4.5-4.5a.5.5 0 00-.708 0l-4.5 4.5a.5.5 0 10.708.708L10 6.707z" clip-rule="evenodd"/>
                    </svg>

                    <!-- Chevrón hacia abajo -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-down twcss-w-10 twcss-h-10 twcss-hidden group-open/details:twcss-block'
                    >
                      <path fill-rule="evenodd" d="M10 13.293l-4.146-4.147a.5.5 0 00-.708.708l4.5 4.5a.5.5 0 00.708 0l4.5-4.5a.5.5 0 10-.708-.708L10 13.293z" clip-rule="evenodd"/>
                    </svg>
                  </summary>

                  <div
                    class='respuesta lg:twcss-mt-8 twcss-mt-6'
                    data-tema='{{ block.id }}'
                  >
                    {%- if block.settings.contentuno != blank -%}
                      <p class='twcss-font-thin twcss-text-secondary-grey-1 lg:twcss-text-x3 twcss-text-1xl'>
                        {{ block.settings.contentuno }}
                      </p>
                    {%- endif -%}
                  </div>
                </details>
              </div>
              <!-- block -->
              <div
                id='{{ block.id }}-2'
                role='tabpanel'
                tabindex='-1'
                aria-hidden='false'
                aria-labelledby='tab-2-trigger'
                class='pregunta twcss-grid twcss-gap-4 aria-hidden:twcss-hidden display:none;'
                data-tema='{{ block.id }}'
              >
                <details
                  class='twcss-group/details twcss-bg-grey twcss-p-8 lg:twcss-p-10 twcss-mb-5 twcss-mx-0 lg:twcss-mx-0 '
                  style='background-color: {{ section.settings.background_color_card }};'
                >
                  <summary
                    id='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                    class='twcss-flex twcss-gap-4 twcss-items-center twcss-justify-between'
                  >
                    {%- if block.settings.titledos != blank -%}
                      <p class='twcss-font-medium lg:twcss-text-4xl twcss-text-3xl twcss-grid twcss-grid-cols-1 twcss-justify-start lg:twcss-mt-[5px] lg:twcss-mb-[5px]'>
                        {{ block.settings.titledos }}
                      </p>
                    {%- endif -%}

                    <!-- Chevrón hacia arriba -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-up twcss-w-10 twcss-h-10 group-open/details:twcss-hidden'
                    >
                      <path fill-rule="evenodd" d="M10 6.707l4.146 4.147a.5.5 0 00.708-.708l-4.5-4.5a.5.5 0 00-.708 0l-4.5 4.5a.5.5 0 10.708.708L10 6.707z" clip-rule="evenodd"/>
                    </svg>

                    <!-- Chevrón hacia abajo -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-down twcss-w-10 twcss-h-10 twcss-hidden group-open/details:twcss-block'
                    >
                      <path fill-rule="evenodd" d="M10 13.293l-4.146-4.147a.5.5 0 00-.708.708l4.5 4.5a.5.5 0 00.708 0l4.5-4.5a.5.5 0 10-.708-.708L10 13.293z" clip-rule="evenodd"/>
                    </svg>
                  </summary>

                  <div
                    class='respuesta lg:twcss-mt-6 twcss-mt-6'
                    data-tema='{{ block.id }}'
                  >
                    {%- if block.settings.contentdos != blank -%}
                      <p class='twcss-font-thin twcss-text-secondary-grey-1 lg:twcss-text-xl twcss-text-2xl'>
                        {{ block.settings.contentdos }}
                      </p>
                    {%- endif -%}
                  </div>
                </details>
              </div>
              <!-- block -->
              <div
                id='{{ block.id }}-3'
                role='tabpanel'
                tabindex='-1'
                aria-hidden='false'
                aria-labelledby='tab-2-trigger'
                class='pregunta twcss-grid twcss-gap-4 aria-hidden:twcss-hidden display:none;'
                data-tema='{{ block.id }}'
              >
                <details
                  class='twcss-group/details twcss-bg-grey twcss-p-8 lg:twcss-p-10 twcss-mb-5 twcss-mx-0 lg:twcss-mx-0 '
                  style='background-color: {{ section.settings.background_color_card }};'
                >
                  <summary
                    id='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                    class='twcss-flex twcss-gap-4 twcss-items-center twcss-justify-between'
                  >
                    {%- if block.settings.titletres != blank -%}
                      <p class='twcss-font-medium lg:twcss-text-4xl twcss-text-3xl twcss-grid twcss-grid-cols-1 twcss-justify-start lg:twcss-mt-[5px] lg:twcss-mb-[5px]'>
                        {{ block.settings.titletres }}
                      </p>
                    {%- endif -%}

                    <!-- Chevrón hacia arriba -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-up twcss-w-10 twcss-h-10 group-open/details:twcss-hidden'
                    >
                      <path fill-rule="evenodd" d="M10 6.707l4.146 4.147a.5.5 0 00.708-.708l-4.5-4.5a.5.5 0 00-.708 0l-4.5 4.5a.5.5 0 10.708.708L10 6.707z" clip-rule="evenodd"/>
                    </svg>

                    <!-- Chevrón hacia abajo -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-down twcss-w-10 twcss-h-10 twcss-hidden group-open/details:twcss-block'
                    >
                      <path fill-rule="evenodd" d="M10 13.293l-4.146-4.147a.5.5 0 00-.708.708l4.5 4.5a.5.5 0 00.708 0l4.5-4.5a.5.5 0 10-.708-.708L10 13.293z" clip-rule="evenodd"/>
                    </svg>
                  </summary>

                  <div
                    class='respuesta lg:twcss-mt-6 twcss-mt-6'
                    data-tema='{{ block.id }}'
                  >
                    {%- if block.settings.contenttres != blank -%}
                      <p class='twcss-font-thin twcss-text-secondary-grey-1 lg:twcss-text-xl twcss-text-2xl'>
                        {{ block.settings.contenttres }}
                      </p>
                    {%- endif -%}
                  </div>
                </details>
              </div>
              <!-- block -->
              <div
                id='{{ block.id }}-4'
                role='tabpanel'
                tabindex='-1'
                aria-hidden='false'
                aria-labelledby='tab-2-trigger'
                class='pregunta twcss-grid twcss-gap-4 aria-hidden:twcss-hidden display:none;'
                data-tema='{{ block.id }}'
              >
                <details
                  class='twcss-group/details twcss-bg-grey twcss-p-8 lg:twcss-p-10 twcss-mb-5 twcss-mx-0 lg:twcss-mx-0 '
                  style='background-color: {{ section.settings.background_color_card }};'
                >
                  <summary
                    id='Summary-c2bbcd7f-1fbc-4a1e-b950-bb1961ea9d2a-template--15980319932509__c38d98ff-9d14-4d52-b57a-ccb0c975eb9d'
                    class='twcss-flex twcss-gap-4 twcss-items-center twcss-justify-between'
                  >
                    {%- if block.settings.titlecuatro != blank -%}
                      <p class='twcss-font-medium lg:twcss-text-4xl twcss-text-3xl twcss-grid twcss-grid-cols-1 twcss-justify-start lg:twcss-mt-[5px] lg:twcss-mb-[5px]'>
                        {{ block.settings.titlecuatro }}
                      </p>
                    {%- endif -%}

                    <!-- Chevrón hacia arriba -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-up twcss-w-10 twcss-h-10 group-open/details:twcss-hidden'
                    >
                      <path fill-rule="evenodd" d="M10 6.707l4.146 4.147a.5.5 0 00.708-.708l-4.5-4.5a.5.5 0 00-.708 0l-4.5 4.5a.5.5 0 10.708.708L10 6.707z" clip-rule="evenodd"/>
                    </svg>

                    <!-- Chevrón hacia abajo -->
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      viewBox='0 0 20 20'
                      fill='currentColor'
                      class='icon icon-chevron-down twcss-w-10 twcss-h-10 twcss-hidden group-open/details:twcss-block'
                    >
                      <path fill-rule="evenodd" d="M10 13.293l-4.146-4.147a.5.5 0 00-.708.708l4.5 4.5a.5.5 0 00.708 0l4.5-4.5a.5.5 0 10-.708-.708L10 13.293z" clip-rule="evenodd"/>
                    </svg>
                  </summary>

                  <div
                    class='respuesta lg:twcss-mt-6 twcss-mt-6'
                    data-tema='{{ block.id }}'
                  >
                    {%- if block.settings.contentcuatro != blank -%}
                      <p class='twcss-font-thin twcss-text-secondary-grey-1 lg:twcss-text-xl twcss-text-2xl'>
                        {{ block.settings.contentcuatro }}
                      </p>
                    {%- endif -%}
                  </div>
                </details>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% javascript %}
  const primerBoton = document.querySelector('.boton-pregunta');

  // Verificar si se encontró algún botón de pregunta
  if (primerBoton) {
    // Obtener el ID del tema asociado al primer botón de pregunta
    const idPrimerTema = primerBoton.getAttribute('data-id');

    // Mostrar las preguntas y respuestas del primer tema por defecto
    mostrarPreguntas(idPrimerTema);

    // Añadir la clase twcss-text-amber-500 al primer botón
    primerBoton.classList.add('twcss-text-amber-500');
  }

  const botonesPregunta = document.querySelectorAll('.boton-pregunta');

  botonesPregunta.forEach(function (boton) {
    boton.addEventListener('click', function () {
      const idTema = this.getAttribute('data-id');

      // Muestra las preguntas y respuestas del tema seleccionado
      cerrarTodasPreguntas();
      mostrarPreguntas(idTema);

      // Remover la clase twcss-text-amber-500 de todos los botones--------------
      botonesPregunta.forEach(function (boton) {
        boton.classList.remove('twcss-text-amber-500');
      });

      // Añadir la clase twcss-text-amber-500 al botón actual-------------
      this.classList.add('twcss-text-amber-500');
    });
  });

  function cerrarTodasPreguntas() {
    const preguntasRespuestas = document.querySelectorAll('.preguntas-tema');
    preguntasRespuestas.forEach(function (item) {
      item.style.display = 'none';
    });
  }

  function mostrarPreguntas(id) {
    // Obtiene todas las preguntas del tema actual
    var preguntasRespuestasTema = document.querySelectorAll('.preguntas-tema[data-tema="' + id + '"]');

    // Cierra todas las preguntas del tema actual
    preguntasRespuestasTema.forEach(function (item) {
      item.style.display = 'none';
    });

    // Abre la pregunta seleccionada
    var preguntaMostrar = document.getElementById(id);

    // Verificar si ninguna pregunta está mostrando, y si es así, mostrar la primera por defecto
    var todasOcultas = true;
    preguntasRespuestasTema.forEach(function (item) {
      if (item.style.display === 'block') {
        todasOcultas = false;
      }
    });

    if (todasOcultas && preguntasRespuestasTema.length > 0) {
      preguntasRespuestasTema[0].style.display = 'block';
    } else {
      preguntaMostrar.style.display = 'block';
    }
  }
    function verificarTemaAbierto() {
    const temaAbierto = document.querySelector('.preguntas-tema[style="display: block;"]');
    return temaAbierto === null;
  }

{% endjavascript %}

{% schema %}
{
  "name": "FAQs",
  "max_blocks": 8,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "background_color_card",
      "label": "Background Color Card",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "What our customers say"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "FAQs",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "titleuno",
          "label": "Title 1"
        },
        {
          "type": "richtext",
          "id": "contentuno",
          "label": "Description 1"
        },
        {
          "type": "text",
          "id": "titledos",
          "label": "Title 2"
        },
        {
          "type": "richtext",
          "id": "contentdos",
          "label": "Description 2"
        },
        {
          "type": "text",
          "id": "titletres",
          "label": "Title 3"
        },
        {
          "type": "richtext",
          "id": "contenttres",
          "label": "Description 3"
        },
        {
          "type": "text",
          "id": "titlecuatro",
          "label": "Title 4"
        },
        {
          "type": "richtext",
          "id": "contentcuatro",
          "label": "Description 4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}
